version: 2.1

parameters:
  fingerprint:
    type: string
    default: SHA256:OkxsH8Z6Iim6WDJBaII9eTT9aaO1f3eDc6IpsgYYPVg
  min-rust-version:
    type: string
    default: "1.87"
  post_merge_flag:
    type: boolean
    default: false
    description: "If true, the post_merge workflow will be executed."
  release_flag:
    type: boolean
    default: false
    description: "If true, the release workflow will be executed."
  success_flag:
    type: boolean
    default: false
    description: "If true, the success pipeline will be executed."
  validation_flag:
    type: boolean
    default: false
    description: "If true, the validation pipeline will be executed."
  update_pcu:
    type: boolean
    default: false
    description: "If true, the pcu tool is updated from its main github branch."

orbs:
  toolkit: jerus-org/circleci-toolkit@4.3.0

executors:
  rust-env:
    docker:
      - image: jerusdp/ci-rust:<<pipeline.parameters.min-rust-version>>

workflows:
  check_last_commit:
    when:
      and:
        - not:
            equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - not: << pipeline.parameters.post_merge_flag >>
        - not: << pipeline.parameters.success_flag >>
        - not: << pipeline.parameters.release_flag >>
        - not: << pipeline.parameters.validation_flag >>

    jobs:
      - toolkit/choose_pipeline:
          filters:
            branches:
              ignore:
                - main
          name: choose pipeline based on committer
          context: bot-check

  check_last_commit_on_main:
    when:
      and:
        - not:
            equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - not: << pipeline.parameters.post_merge_flag >>
        - not: << pipeline.parameters.success_flag >>
        - not: << pipeline.parameters.release_flag >>
        - not: << pipeline.parameters.validation_flag >>

    jobs:
      - toolkit/choose_pipeline:
          filters:
            branches:
              only:
                - main
          name: choose pipeline based on committer
          pipeline_flag_test_failed: prlog_flag
          context: bot-check

  validation:
    when:
      and:
        - not:
            equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - not: << pipeline.parameters.post_merge_flag >>
        - not: << pipeline.parameters.success_flag >>
        - << pipeline.parameters.validation_flag >>
        - not: << pipeline.parameters.release_flag >>
    jobs:
      - toolkit/required_builds:
          min_rust_version: << pipeline.parameters.min-rust-version >>
          requires:
            - toolkit/security
      - toolkit/optional_builds:
          filters:
            branches:
              ignore:
                - main
          min_rust_version: << pipeline.parameters.min-rust-version >>
          requires:
            - toolkit/security
      - toolkit/test_doc_build:
          filters:
            branches:
              ignore:
                - main
          min_rust_version: << pipeline.parameters.min-rust-version >>
          requires:
            - toolkit/security
      - toolkit/common_tests:
          min_rust_version: << pipeline.parameters.min-rust-version >>
          requires:
            - toolkit/security
      - toolkit/idiomatic_rust:
          filters:
            branches:
              ignore:
                - main
          min_rust_version: << pipeline.parameters.min-rust-version >>
          requires:
            - toolkit/security
      - toolkit/security:
          context: SonarCloud

  post_merge_main:
    when:
      and:
        - not:
            equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - << pipeline.parameters.post_merge_flag >>
        - not: << pipeline.parameters.success_flag >>
        - not: << pipeline.parameters.release_flag >>

    jobs:
      - toolkit/update_prlog:
          filters:
            branches:
              only:
                - main
          context:
            - release
            - bot-check
          min_rust_version: << pipeline.parameters.min-rust-version >>
          ssh_fingerprint: << pipeline.parameters.fingerprint >>
          update_log_option: halt
          update_pcu: << pipeline.parameters.update_pcu >>
          pcu_from_merge: --from-merge
          pcu_verbosity: -vvv
      - toolkit/label:
          filters:
            branches:
              only:
                - main
          min_rust_version: << pipeline.parameters.min-rust-version >>
          context: pcu-app
          requires:
            - toolkit/update_prlog
      - toolkit/trigger_pipeline:
          filters:
            branches:
              only:
                - main
          requires:
            - toolkit/update_prlog
          pipeline_parameter: validation_flag

  release:
    when:
      and:
        - or:
            - and:
                - equal: [scheduled_pipeline, << pipeline.trigger_source >>]
                - equal: ["release check", << pipeline.schedule.name >>]
            - << pipeline.parameters.release_flag >>
        - not: << pipeline.parameters.post_merge_flag >>
        - not: << pipeline.parameters.success_flag >>
        - not: << pipeline.parameters.validation_flag >>
    jobs:
      - toolkit/save_next_version:
          min_rust_version: << pipeline.parameters.min-rust-version >>

      - toolkit/make_release:
          requires:
            - toolkit/save_next_version
          pre-steps:
            - attach_workspace:
                at: /tmp/workspace
            - run:
                name: Set SEMVER based on next-version file
                command: |
                  set +ex
                  export SEMVER=$(cat /tmp/workspace/next-version)
                  echo $SEMVER
                  echo "export SEMVER=$SEMVER" >> "$BASH_ENV"
          context:
            - release
            - bot-check
          ssh_fingerprint: << pipeline.parameters.fingerprint >>
          min_rust_version: << pipeline.parameters.min-rust-version >>

      - toolkit/no_release:
          min_rust_version: << pipeline.parameters.min-rust-version >>
          requires:
            - toolkit/save_next_version:
                - failed
